.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #61dafb;
}


.App-link {
  color: #61dafb;
}

input {
  font-size: 20pt;
}

button {
  margin-left: 10pt;
  font-size: 20pt;
}

a {
  margin-right: 5pt;
}