.header {
    background-color: aqua;
    min-height: 50px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    }

h1 {
    text-align: center;
    color: black;
  }
  
  .swagger {
    text-decoration: none;
  }
  
  .api_root {
    text-decoration: none;
  }